.carrusel {
    width: 100%;
    overflow-x:scroll;
    overflow-y:hidden;
    padding: 30px;
    position: relative;
}

.carrusel::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.carrusel::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
.carrusel::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.carrusel .carrusel-contenedor {
    white-space: nowrap; /* Para que navegue sin limites por el ancho de la ventana */
    margin: 70px 0px;
    padding-bottom: 10px; 
}

.carrusel .carrusel-item {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    transition: 450 ms all;
    transform-origin: center left;
    position: relative;
}

.carrusel .carrusel-item:hover ~ .carrusel-item{
    transform: translate3d(100px, 0, 0);
}

.carrusel .carrusel-contenedor:hover .carrusel-item {
    opacity: 0.3;
}

.carrusel .carrusel-contenedor:hover .carrusel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carrusel-item img {
    width: 200px;
    object-fit: cover;
}

.carrusel-item .detalle {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opactiy;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}