@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@200&display=swap');

#Formulario {
    margin: 5%;
}

#terminos {
    margin: 15%;
}

#titul {
    text-align: center;
    border: 2px solid #0A2A0A;
    padding: 10px;
    border-radius: 25px;
    
}