$verde: darkcyan;
$verdeClaro:#A6E6A6;
$negro: #0000;
$celeste: #94CDCD;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

body{
    background-color: $verdeClaro;
}
.jumbotron {
    background-color: $verde;
    color: $negro;
    @include margenes(0px, 5px)
}

h3 ~ p {
    text-align: justify;
}

.navbar {
    background-color: $celeste;
}

.container {
    @include margenes(2%, 1%);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: lightseagreen;
    @include margenes(5px, 0px);
    text-align: center
}

.nav-link {
    color: #2E4040;
}

#BotonesModales {
    margin: 2%;
    display: flex;
    justify-content: space-between;
}