@celeste: #94CDCD;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

body {
    background-color: #A6E6A6; }
  
.jumbotron {
    background-color: darkcyan;
    color: black;
    margin-bottom: 5px;
    .margenes(0px, 5px);
}

h3 ~ p {
    text-align: justify;
}

.navbar {
    background-color: @celeste; 
}

.container { 
    .margenes(2%, 1%);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: lightseagreen;
    .margenes(5px, 0px);
    text-align: center; 
}

.nav-link {
    color: #2E4040; 
}

#BotonesModales {
    margin: 2%;
    display: flex;
    justify-content: space-between; 
}