body {
  background-color: #A6E6A6;
}
.jumbotron {
  background-color: darkcyan;
  color: black;
  margin-top: 0px;
  margin-bottom: 5px;
}
h3 ~ p {
  text-align: justify;
}
.navbar {
  background-color: #94CDCD;
}
.container {
  margin-top: 2%;
  margin-bottom: 1%;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: lightseagreen;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
}
.nav-link {
  color: #2E4040;
}
#BotonesModales {
  margin: 2%;
  display: flex;
  justify-content: space-between;
}
